@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";
@import "_mixins";


body {
  padding: 20px;
}

h1 {
  color: red;
  @include reponsive("iphone"){
    color: yellow;
  }
  @include reponsive("iphone-l") {
    font-size: 60px;
  }
  @include reponsive("iphone-l") {
    color: green;
  }

}


  
